ul{
    list-style-type: none;
    padding: 0;
}
/*верхняя часть*/
    h1{
    }
    h4{
        color: #5494AD;
    }
    .page-top{
        padding: 10px 0;
        background: #000;
        color: #fff;
    }
        .logo-image{
            float: left;
            height: 70px;
            width: 70px;
            background: url("../content/logo.jpg");
            background-size: contain;
            border-radius: 50%;
        }
        .logo-name{
            margin-left: 90px;
            font-size: 35px;            
            font-weight: bold;
            line-height: 20px;
            padding-top: 18px;
        }
            .logo-name span:last-child{
                font-size: 14px;
                font-weight: 300;
                /*display: block;*/
            }
        .desc{
            padding-top: 32px;
            font-size: 16px;
            text-align: center;
        }
    /*phone-block*/
        .phone-block{ 
            float: right;
            font-size: 20px;
        }
            .phone-block a{
                color: inherit;    
            }
            .phone-block a:hover{
                text-decoration: none;

            }
            .phone-block .phone{
                padding-left: 20px;
            }
            .phone-block .feedback{
            }
                .phone-block .feedback a{
                }        
/*навигационное меню*/
    .navbar-default{
        border-color: transparent;
        margin-bottom: 0;
        background-color: transparent;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav>li>a{
        color: inherit;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-nav>li>a:hover{
        color: #48A2D7;
    }
    .navbar{
        border-radius: 0;
    }

/*Главная страница*/
    .welcome-block{
            background: url("../content/0.jpg");
            background-size: cover;
            position: relative;
    }
        .welcome-block h1{
            font-weight: 400;
            text-align: center;
            margin: 60px 0;
            font-size: 29px;
            text-transform: uppercase;
        }
    @media (min-width: 320px) {
        .welcome-block h1{
            font-size: 38px;
            margin: 40px 0;
        }
    }
    /*information-block*/
        /*.main-page-service-list*/
            a h3, a .fa {
                color: white;
                cursor: pointer;
            }
            a h3:hover{
                
            }
            .main-page-service-list a{
                line-height: 25px;
            }
        /*benefits*/
            .information-block .benefits li{
                border-bottom: 1px dashed lightgrey;
            }
            .information-block .benefits .fa{
    color: #000;
            }

    /*instagram*/
    .instagram-block{
        background: #F3F3F3;
    }
    /*form-block*/
    .form-block{
        background: #929292;
        padding: 20px 0;
    }
    /*блок контактов на главной*/
        .contact-info-block{
            padding: 20px 0;
            background-color: #59819C;
        }
        /*инфографика*/
            .info-graphics{
                background: lightsalmon;
            }
        /*формы*/
            .forms{
                background: rgba(255, 255, 255, 0.5);
                padding: 0 0 20px 0;
                border-radius: 5px;
                overflow: hidden;
            }
            .ss-secondary-text{
                font-weight: normal;
                color: grey;
            }

            /*.btn-tr-inv{
            color: #28465A;
            background-color: transparent;
            border-color: #28465A;
            border-width: 2px;
            border-radius: 0;
            font-weight: bold;
            }
            .btn-tr-inv:hover{
                background-color: #28465A;
                color: #fff;
            }*/
            /*табы*/
                .nav-tabs>li{
                    width: 50%;
                }
                .nav-tabs>li>a{
                    border-radius: 0;
                    text-align: center;
                    font-size: 18px;
                }
                .tab-content>.tab-pane{
                    padding: 20px;
                }
            .ss-required-asterisk{
                color: red;
            }
    /*услуги на главной*/
        .services{
            padding: 10px 0;
            background: rgba(0, 0, 0, 0.3);
        }
        .services .col-md-4{
            padding: 0;
        }
        .services .row{
            padding: 0 15px;
        }
/*        .services .block-container{
            border: 0px;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 10px;
        }*/
/*            .services .block-container:hover{
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
            }*/
            .services p{
            }
            .serv-img{
                height: 150px;
                overflow: hidden;
            }
                .services .serv-img img{
                    min-width: 315px;
                    height: 150px;
                }
            /*.services header{
                background-size: cover;
                background-position: center;
            }*/
            .services footer{
                padding: 20px 0;
            }
                .services footer h3{
                    margin: 0;
                    padding: 0 0 10px 0;
                }
                .services footer .fa{
                    font-size: 36px;
                }
            .services .color-block{
                height: 5px;
                width: 100%;
            }
            /*1*/
/*            .service-1 header{
                height: 180px;
                background: url("../content/2.jpg");
                background-size: cover;
            }*/
            .service-1 footer,
            .service-1 .color-block{
                background: #213644;
            }
            /*2*/
            /*.service-2 header{
                height: 180px;
                background: url("../content/3.jpg");
                background-size: cover;
            }*/
            .service-2 footer,
            .service-2 .color-block{
                background: #689DC1;
            }
            /*3*/
            .service-3 header{
                height: 180px;
                background: url("../content/003.jpg");
                background-size: cover;                
            }
            .service-3 footer,
            .service-3 .color-block{
                background: #12537B;
            }
            .service-4 header{
                height: 180px;
                background: url("../content/4.jpg");
                background-size: cover;
            }
            .service-4 footer,
            .service-4 .color-block{
                background: #537288;
            }
            /*2*/
            .service-5 header{
                height: 180px;
                background: url("../content/5.jpg");
                background-size: cover;
            }
            .service-5 footer,
            .service-5 .color-block{
                background: #3D6B8A;
            }
            /*3*/
            .service-6 header{
                height: 180px;
                background: url("../content/6.jpg");
                background-size: cover;                
            }
            .service-6 footer,
            .service-6 .color-block{
                background: #162833;
            }

            

            .services header a{
                padding: 24px 10px;
                color: inherit;
            }
            .blackout{
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                padding: 10px;
            }

            .main-page-service-list{
                list-style-type: none;
                padding: 0;
            }
        padding: 3px 0;

/*footer*/
    footer{
        background: #28465A;
        color: #fff;
    }
    footer .info-block{
        padding: 10px 0;
    }
    footer .copyright{
        background: darkgrey;
        padding: 5px 0;
    }