/*верхняя часть*/
    .page-top{
        padding: 10px 0;
    }
        .logo-image{
            width: 70px;
            height: 70px;
            background-color: #2C4F68;
            border: 0;
            border-radius: 50%;
            float: left;
        }
        .logo-name{
            margin-left: 90px;
            font-size: 36px;
            padding-top: 10px;
            font-weight: bold;
        }
        .desc{
            padding-top: 32px;
            font-size: 16px;
            text-align: center;
        }
/*навигационное меню*/
    .navbar-default{
        background-color: #28465A;
        border-color: transparent;
        margin-bottom: 0;
        color: #fff;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav>li>a{
        color: inherit;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-nav>li>a:hover{
        color: #48A2D7;
    }
    .navbar{
        border-radius: 0;
    }

/*Главная страница*/
    .welcome-block{
            background: transparent url("../content/canvas.png");

    }
    /*phone-block*/
        .phone-block{ 
        }
            .phone-block a{
                color: inherit;
            }
            .phone-block a:hover{
                text-decoration: none;

            }
            .phone-block .phone{
                font-size: 28px;
            }
            .phone-block .feedback{
            }
                .phone-block .feedback a{
                }        
    /*jumbotron*/
    
        .jumbotron{
            color: #fff;
            overflow: visible;
            background-color: transparent;
        }

        .btn-tr{
            color: #fff;
            background-color: transparent;
            border-color: #fff;
            border-width: 2px;
            border-radius: 0;
        }
        .btn-tr:hover{
            background-color: #fff;
            color: #28465A;
        }
    /*social*/
    .social{
        background: #F3F3F3;
        padding: 20px 0;
    }
    /*блок контактов на главной*/
        .contact-info-block{
            padding: 20px 0;
            background-color: #59819C;
        }
        /*инфографика*/
            .info-graphics{
                background: lightsalmon;
            }
        /*формы*/
            .forms{
                background: #fff;
                padding: 0 0 20px 0;
                border: 5px solid #28465A;
            }
            .ss-secondary-text{
                font-weight: normal;
                color: grey;
            }

            .btn-tr-inv{
            color: #28465A;
            background-color: transparent;
            border-color: #28465A;
            border-width: 2px;
            border-radius: 0;
            font-weight: bold;
            }
            .btn-tr-inv:hover{
                background-color: #28465A;
                color: #fff;
            }
            /*табы*/
                .nav-tabs>li{
                    width: 50%;
                }
                .nav-tabs>li>a{
                    border-radius: 0;
                    text-align: center;
                    font-size: 18px;
                }
                .tab-content>.tab-pane{
                    padding: 20px;
                }
            .ss-required-asterisk{
                color: red;
            }

    footer{
        background: #28465A;
        color: #fff;
    }

    /*услуги на главной*/
        .services{
            padding-top: 20px;
        }
        .services .block-container{
/*            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
*/            border: 0px;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 10px;
        }
            .services .block-container:hover{
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
            }
            .services p{
                background: #fff;
                padding: 5px 10px 15px;
            }
            .services header{
                color: #fff;
                height: 100%;
                border: 0px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;
            }
            .bg-1{
                background: url("../content/003.jpg");
                background-size: cover;
            }
            .services header a{
/*                margin: 0;
                padding: 24px 10px;
*/                color: inherit;
            }
            .blackout{
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                padding: 10px;
            }