<div class="about-page">
    <div class="container">
        <div class="row">
            <section class="col-sm-7">
                <section class="about-as">
                    <h4>Добро пожаловать!</h4>
                    <p>Команда «SkyService» специализируется на выполнении высотных работ любого профиля и сложности.
                    </p>
                    <p>На протяжении последних 8 лет наши специалисты успешно выполняют высотные работы, требующие уникальных возможностей промышленного альпинизма. Наши промышленные альпинисты имеют высочайший уровень физической подготовки и документально подтвержденную профессиональную квалификацию. Все наши специалисты состоят в Российской Федерации Альпинизма и Скалолазания, имеют большой опыт высотных работ и отличный послужной список. Кроме того, наша организация полностью обеспечена всем необходимым оборудованием для высотных работ и транспортными средствами.
                    </p>
                    <p>Мы можем проконсультировать Вас во всех возникающих вопросах по проведению высотных работ.</p>
                </section>
            </section>
            <section class="col-md-5">
                <h4>Наши преимущества</h4>
                <ul>
                    <li>
                        <!-- <h5>Разумная цена</h5> -->
                        <p><b>Разумная цена.</b> С вами сразу будет общаться альпинист, что позволяет сократить расходы и правильно оценить сложность работ.
                        </p>
                    </li>
                    <li>
                        <!-- <h5>Режим работы 24/7</h5> -->
                        <p><b>Режим работы 24/7.</b> Для нас не существует выходных, мы готовы решать любые срочные задачи.
                        </p>
                    </li>
                    <li>
                        <!-- <h5>Безопасность</h5> -->
                        <p><b>Безопасность.</b> Все наши сотрудники имееют удостоверния о проверке знаний правил техники безопасности при выполнении высотных работ.
                        </p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Наши телефоны</h4>
                <ul>
                    <li><a href="callto:#">+79001234567</a> (Name)</li>
                    <li><a href="callto:#">+79001234567</a> (Name)</li>
                </ul>
                <h4>Электронная почта</h4>
                <ul>
                    <li><a href="mailto:info@info.com">info@info.com</a></li>
                </ul>
                <h4>Группа в VK</h4>
                <ul>
                    <li><a href="#">vk.com/bla-bla-bla</a></li>
                </ul>
            </div>
            <section class="col-md-9 feedback-form">
                <h4>Форма обратной связи</h4>
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Вопросы, отзывы, пожелания..."></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </section>
        </div>
    </div>
</div>
