<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script>
<script src="js/instafeed.min.js"></script>
<script>
$(document).ready(function() {
    $('#myTab').tabCollapse();

    if ($(".page-container").outerHeight() < window.innerHeight) {

        console.log('$(".page-container").outerHeight() ', $(".page-container").outerHeight());
        console.log('window.innerWidth ', window.innerHeight);

        $("footer").css("margin-top", function() {
            return window.innerHeight - $(".page-container").outerHeight();
        });        
    }
});
</script>
