<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script>
<script src="js/instafeed.min.js"></script>
<script>
$(document).ready(function() {
    $('#myTab').tabCollapse();

    if ($(".page-container").outerHeight() < window.innerHeight) {

        console.log('$(".page-container").outerHeight() ', $(".page-container").outerHeight());
        console.log('window.innerWidth ', window.innerHeight);

        $("footer").css("margin-top", function() {
            return window.innerHeight - $(".page-container").outerHeight();
        });
        var userFeed = new Instafeed({
            get: 'user',
            userId: 1961675546,
            accessToken: '1961675546.467ede5.4f7f9427f77a404a8bfb100da24cd36a',
            template: '<a href="{{link}}"><img class="image" src="{{image}}" /></a>'
        });
        userFeed.run();
    }
});
</script>
