<footer>
	<div class="container">
		<div class="row">
			<section class="copyright col-md-2">Skyservice 2015</section>
			<section class="col-md-8 footer-menu">
				<ul>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Menu</a></li>
				</ul>
			</section>	
			<section class="social col-md-2">
				<ul>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>					
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>					
				</ul>
			</section>	
	</div>
</div>
</footer>