<footer>
	<div class="container">
		<div class="row">
			<section class="copyright col-sm-3">&copy; SkyService 2015</section>
			<section class="col-xs-6 col-sm-7 footer-menu">
				<ul>
					<li><a href="services.html">Услуги</a></li>
                    <li><a href="about.html">О нас</a></li>
				</ul>
			</section>	
			<section class="social col-sm-2 col-xs-6">
				<ul>
					<li><a href="http://vk.com/skyservice76"><i class="fa fa-vk"></i></a></li>
					<li><a href="https://www.instagram.com/skyservice0/"><i class="fa fa-instagram"></i></a></li>					
				</ul>
			</section>	
	</div>
</div>
</footer>