<section class="main-services">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="picture">
                    <img src="img/service-test.jpg" alt="">
                </div>
                <h4 class="header"><a href="">Монтажные работы</a></h4>
                <section class="content">В условиях быстро растущего города услуги промышленных альпинистов становятся всё более востребованными. Монтажные работы на высоте, производимые нашей компанией включают в себя большой спектр услуг различной направленности.</section>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="picture">
                    <img src="img/service-test.jpg" alt="">
                </div>
                <h4 class="header"><a href="">Герметизация швов</a></h4>
                <section class="content">Когда наступают холода, многие жители панельных домов задаются вопросом: как сохранить тепло в квартире? Наиболее распространённая причина утечки тепла - разгерметизация швов. Герметизация швов - наименее затратный способ сохранить тепло в вашей квартире.</section>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="picture">
                    <img src="img/service-test.jpg" alt="">
                </div>
                <h4 class="header"><a href="">Мойка окон и фасадов</a></h4>
                <section class="content">Чистые окна и фасад здания - одна из составляющих положительного имиджа компании. Сверкающие на солнце окна - показатель успеха, сделать их таковыми помогут промышленные альпинисты, способные добраться до самых сложных окон на высоте!</section>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="picture">
                    <img src="img/service-test.jpg" alt="">
                </div>
                <h4 class="header"><a href="">Металлоконструкции</a></h4>
                <section class="content">В различных областях хозяйственной деятельности человека основу составляют сварные металлоконструкции. Мы рады вам предложить изготовление и монтаж различных видов конструкций для любых нужд.</section>
            </div>
            

            <!-- <div class="col-md-4">
                <header>
                    <a href="#">
                        <img src="img/service-test.jpg" alt="">
                        <h3 class="header">Монтажные работы</h3>
                    </a>
                </header>
                <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
            </div>
            <div class="col-md-4">
                <header>
                    <a href="#">
                        <img src="img/service-test.jpg" alt="">
                        <h3 class="header">Мойка окон и фасадов</h3>
                    </a>
                </header>
                <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
            </div>
            <div class="col-md-4">
                <header>
                    <a href="#">
                        <img src="img/service-test.jpg" alt="">
                        <h3 class="header">Металлоконструкции</h3>
                    </a>
                </header>
                <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
            </div>
            <div class="col-md-4">
                <header>
                    <a href="#">
                        <img src="img/service-test.jpg" alt="">
                        <h3 class="header">Очистка крыш от снега</h3>
                    </a>
                </header>
                <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
            </div>
            <div class="col-md-4">
                <header>
                    <a href="#">
                        <img src="img/service-test.jpg" alt="">
                        <h3 class="header">Ремонтные работы</h3>
                    </a>
                </header>
                <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
            </div> -->
        </div>
    </div>
</section>