<section class="main-instagram">
    <div id="instafeed"></div>
    <!--<script>
    $(document).ready(function() {
        var userFeed = new Instafeed({
            get: 'user',
            userId: 1961675546,
            accessToken: '1961675546.467ede5.4f7f9427f77a404a8bfb100da24cd36a',
            template: '<a href="{{link}}"><img class="image" src="{{image}}" /></a>',
            limit: 15,
            sortBy: 'most-liked'
        });
        userFeed.run();

        $("#instafeed").smoothDivScroll({
            hotSpotScrolling: false,
            touchScrolling: true,
            manualContinuousScrolling: true,
            mousewheelScrolling: false
        });
    });-->
    </script>
</section>
