<section class="main-services container">
    <div class="row">
        <div class="col-md-4">
            <header>
                <a href="#">
                    <img src="../img/service-test.jpg" alt="">
                    <h3 class="header">Герметизация швов</h3>
                </a>
            </header>
            <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
        </div>
        <div class="col-md-4">
            <header>
                <a href="#">
                    <img src="../img/service-test.jpg" alt="">
                    <h3 class="header">Монтажные работы</h3>
                </a>
            </header>
            <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
        </div>
        <div class="col-md-4">
            <header>
                <a href="#">
                    <img src="../img/service-test.jpg" alt="">
                    <h3 class="header">Мойка окон и фасадов</h3>
                </a>
            </header>
            <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
        </div>
        <div class="col-md-4">
            <header>
                <a href="#">
                    <img src="../img/service-test.jpg" alt="">
                    <h3 class="header">Металлоконструкции</h3>
                </a>
            </header>
            <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
        </div>
        <div class="col-md-4">
            <header>
                <a href="#">
                    <img src="../img/service-test.jpg" alt="">
                    <h3 class="header">Очистка крыш от снега</h3>
                </a>
            </header>
            <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
        </div>
        <div class="col-md-4">
            <header>
                <a href="#">
                    <img src="../img/service-test.jpg" alt="">
                    <h3 class="header">Ремонтные работы</h3>
                </a>
            </header>
            <section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
        </div>
    </div>
</section>
