<section class="main-feedback">
    <div class="container">
        <div class="col-md-8">
            <h3>Наши контакты</h3>
            <div class="row">
                <div class="phones col-md-8">
                    <div>
                        <a href="callto:#">+7 (900) 123 45 67</a>
                        <span class="name">(Name)</span>
                    </div>
                    <div>
                        <a href="callto:#">+7 (900) 123 45 67</a>
                        <span class="name">(Name)</span>
                    </div>
                </div>
                <div class="other col-md-4">
                        <div>
                            <h5>Электронная почта</h5>
                            <a href="mailto:info@info.com">info@info.com</a>
                        </div>
                        <div>
                            <h5>Группа в VK</h5>
                            <a href="#">vk.com/bla-bla-bla</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feedback-item">
                <h3>Обратный звонок</h3>
                <!-- <form>
                    <div class="row">
                        <div class="form-group col-sm-3 col-smm-6">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Номер телефона">
                        </div>
                        <div class="form-group col-sm-5 col-smm-6">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ваше имя или комментарий">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default">Перезвоните мне</button>
                        </div>
                    </div>
                </form> -->
                <form action="//formspree.io/svetlana.i.vlasenko@gmail.com" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Ваше имя или комментарий">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Номер телефона">
                    </div>
                    <input type="submit" value="Send" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</section>