<section class="main-info">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4><a href="#" title="О нас">Добро пожаловать!</a></h4>
				<p>Команда «SkyService» специализируется на выполнении высотных работ любого профиля и сложности.
				</p>
				<p>Наши промышленные альпинисты имеют высочайший уровень физической подготовки и документально подтвержденную профессиональную квалификацию.
				</p>
				<p>Мы можем проконсультировать Вас во всех возникающих вопросах по проведению высотных работ.</p>
			</div>
			<div class="col-md-4">
				<h4><a href="#" title="Страница услуг">Наши услуги</a></h4>
				<ul>
					<li>Герметизация швов</li>
					<li>Монтаж баннеров</li>
					<li>Монтаж оснований под баннер</li>
					<li>Монтаж рекламы</li>
					<li>Монтаж металлоконструкций</li>
					<li>Монтаж водостоков</li>
					<li>Мойка окон и фасадов</li>
					<li>Очистка крыш от снега</li>
					<li>Покрасочные работы</li>
					<li>Производство металлоконструкций</li>
					<li>Ремонтные работы</li>
					<li>Спиливание деревьев</li>
					<li>лектромонтажные работы</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4><a href="#" title="О нас">Наши преимущества</a></h4>
				<ul>
					<li>
						<h5>Разумная цена</h5>
						<p>С вами сразу будет общаться альпинист, что позволяет сократить расходы и правильно оценить сложность работ
						</p>
					</li>
					<li>
						<h5>Режим работы 24/7</h5>
						<p>Для нас не существует выходных, мы готовы решать любые срочные задачи
						</p>
					</li>
					<li>
						<h5>Режим работы 24/7</h5>
						<p>Для нас не существует выходных, мы готовы решать любые срочные задачи
						</p>
					</li>
					<li>
						<h5>Безопасность</h5>
						<p>Все наши сотрудники имееют удостоверния о проверке знаний правил техники безопасности при выполнении высотных работ
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>