<section class="main-info">
	<div class="container">
		<div class="row">
			<section class="col-sm-4 main-about-as">
				<h3><a href="about.html" title="О нас">Добро пожаловать!</a></h3>
				<p>Команда «SkyService» специализируется на выполнении высотных работ любого профиля и сложности.
				</p>
				<p>Наши промышленные альпинисты имеют высочайший уровень физической подготовки и документально подтвержденную профессиональную квалификацию.
				</p>
				<p>Мы можем проконсультировать Вас во всех возникающих вопросах по проведению высотных работ.</p>
			</section>
			<section class="col-sm-4 main-service-list">
				<h3><a href="services.html" title="Страница услуг">Наши услуги</a></h3>
				<ul>
					<li><a href="services.html#1">Герметизация швов</a></li>
					<li><a href="services.html#2">Монтаж баннеров</a></li>
					<li><a href="services.html#3">Монтаж оснований под баннер</a></li>
					<li><a href="services.html#4">Монтаж рекламы</a></li>
					<li><a href="services.html#5">Монтаж металлоконструкций</a></li>
					<li><a href="services.html#6">Монтаж водостоков</a></li>
					<li><a href="services.html#7">Мойка окон и фасадов</a></li>
					<li><a href="services.html#8">Очистка крыш от снега</a></li>
					<li><a href="services.html#9">Покрасочные работы</a></li>
					<li><a href="services.html#10">Производство металлоконструкций</a></li>
					<li><a href="services.html#11">Ремонтные работы</a></li>
					<li><a href="services.html#12">Спиливание деревьев</a></li>
					<li><a href="services.html#13">Электромонтажные работы</a></li>
				</ul>
			</section>
			<section class="col-sm-4">
				<h3><a href="about.html" title="О нас">Наши преимущества</a></h3>
				<ul>
					<li>
						<!-- <h5>Разумная цена</h5> -->
						<p><b>Разумная цена.</b> С вами сразу будет общаться альпинист, что позволяет сократить расходы и правильно оценить сложность работ.
						</p>
					</li>
					<li>
						<!-- <h5>Режим работы 24/7</h5> -->
						<p><b>Режим работы 24/7.</b> Для нас не существует выходных, мы готовы решать любые срочные задачи.
						</p>
					</li>
					<li>
						<!-- <h5>Безопасность</h5> -->
						<p><b>Безопасность.</b> Все наши сотрудники имееют удостоверния о проверке знаний правил техники безопасности при выполнении высотных работ.
						</p>
					</li>
				</ul>
			</section>
		</div>
	</div>
</section>