<section class="main-info">
	<div class="container">
		<div class="row">
			<section class="col-sm-4 main-about-as">
				<h4><a href="#" title="О нас">Добро пожаловать!</a></h4>
				<p>Команда «SkyService» специализируется на выполнении высотных работ любого профиля и сложности.
				</p>
				<p>Наши промышленные альпинисты имеют высочайший уровень физической подготовки и документально подтвержденную профессиональную квалификацию.
				</p>
				<p>Мы можем проконсультировать Вас во всех возникающих вопросах по проведению высотных работ.</p>
			</section>
			<section class="col-sm-4 main-service-list">
				<h4><a href="#" title="Страница услуг">Наши услуги</a></h4>
				<ul>
					<li><a href="#">Герметизация швов</a></li>
					<li><a>Монтаж баннеров</a></li>
					<li><a>Монтаж оснований под баннер</a></li>
					<li><a>Монтаж рекламы</a></li>
					<li><a>Монтаж металлоконструкций</a></li>
					<li><a>Монтаж водостоков</a></li>
					<li><a>Мойка окон и фасадов</a></li>
					<li><a>Очистка крыш от снега</a></li>
					<li><a>Покрасочные работы</a></li>
					<li><a>Производство металлоконструкций</a></li>
					<li><a>Ремонтные работы</a></li>
					<li><a>Спиливание деревьев</a></li>
					<li><a>Электромонтажные работы</a></li>
				</ul>
			</section>
			<div class="col-sm-4">
				<h4><a href="#" title="О нас">Наши преимущества</a></h4>
				<ul>
					<li>
						<!-- <h5>Разумная цена</h5> -->
						<p><b>Разумная цена.</b> С вами сразу будет общаться альпинист, что позволяет сократить расходы и правильно оценить сложность работ.
						</p>
					</li>
					<li>
						<!-- <h5>Режим работы 24/7</h5> -->
						<p><b>Режим работы 24/7.</b> Для нас не существует выходных, мы готовы решать любые срочные задачи.
						</p>
					</li>
					<li>
						<!-- <h5>Безопасность</h5> -->
						<p><b>Безопасность.</b> Все наши сотрудники имееют удостоверния о проверке знаний правил техники безопасности при выполнении высотных работ.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>