<section class="main-services container">
	<div class="row">
		<div class="col-md-4">
			<header>
				<a href="#">
					<img src="../img/service-test.jpg" alt="">
					<h3 class="header">Header</h3>
				</a>
			</header>
		<section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
	</div>
		<div class="col-md-4">
			<header>
				<a href="#">
					<img src="../img/service-test.jpg" alt="">
					<h3 class="header">Header</h3>
				</a>
			</header>
		<section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
	</div>
		<div class="col-md-4">
			<header>
				<a href="#">
					<img src="../img/service-test.jpg" alt="">
					<h3 class="header">Header</h3>
				</a>
			</header>
		<section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
	</div>
	
<!-- <div class="col-md-4">
	<header>
			<img src="../img/service-test.jpg" alt="">
			<h3 class="header">Header</h3>
	</header>
	<section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
</div>
<div class="col-md-4">
	<header>
		<img src="../img/service-test.jpg" alt="">
		<h3 class="header">Header</h3>
	</header>
	<section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
</div>
<div class="col-md-4">
	<header>
		<img src="../img/service-test.jpg" alt="">
		<h3 class="header">Header</h3>
	</header>
	<section class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse odio, porro hic necessitatibus a at excepturi autem velit vero minus facere, sit! Beatae sequi, porro eius veniam ut nobis.</section>
</div> -->
</div>
</section>