<section class="main-feedback">
    <div class="container">
        <div class="col-sm-8">
            <h3>Наши контакты</h3>
            <div class="row">
                <div class="phones col-md-8">
                    <div>
                        <a href="callto:+7 915 971 20 16">+7 915 971 20 16</a>
                        <span class="name">(Name)</span>
                    </div>
                    <div>
                        <a href="callto:+7 910 968 08 68">+7 910 968 08 68</a>
                        <span class="name">(Name)</span>
                    </div>
                </div>
                <div class="other col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-lg-12">
                            <h5>Электронная почта</h5>
                            <a href="mailto:info@skyservice76.ru">info@skyservice76.ru</a>
                        </div>
                        <div class="col-xs-6 col-lg-12">
                            <h5>Группа в VK</h5>
                            <a href="#">vk.com/bla-bla-bla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feedback-item">
                <h3>Обратный звонок</h3>
                <!-- <form>
                    <div class="row">
                        <div class="form-group col-sm-3 col-smm-6">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Номер телефона">
                        </div>
                        <div class="form-group col-sm-5 col-smm-6">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ваше имя или комментарий">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default">Перезвоните мне</button>
                        </div>
                    </div>
                </form> -->
                <form action="//formspree.io/svetlana.i.vlasenko@gmail.com" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Телефона">
                    </div>
                    <input type="submit" value="Отправить" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</section>
