<header class="page-top">
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<span class="name">SkyService</span>
					<span class="desc">Все виды высотных работ!</span>
				</a>
			</div>
			<ul class="nav navbar-nav contacts">
				<li>
					<a href="callto:+71234567890">
						<i class="fa fa-phone"></i> 
						<span class="link-text">							
							<span class="text">Позвонить</span>
							<span class="info">+79801234567</span>
						</span>
						
					</a>
				</li>
				<li>
					<a href="mailto:mail@mail.com">
						<i class="fa fa-envelope-o"></i> 
						<span class="link-text">							
							<span class="text">Написать</span>
							<span class="info">info@skyservice.ru</span>
						</span>						
					</a>
				</li>
			</ul>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="services.html">Услуги</a></li>
					<li><a href="about.html">О нас</a></li>
					<!-- <li><a href="#">Контакты</a></li> -->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>