<div class="service-page">
	<div class="container">
		<div class="tabs-collapse">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
				<li><a href="#profile" data-toggle="tab">Profile</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="home">
					<p>Raw denim you probably haven't...</p>
				</div>
				<div class="tab-pane fade" id="profile">
					<p>Food truck fixie locavore, accus...</p>
				</div>
				...
			</div>
		</div>
		<div class="alert alert-warning" role="alert">Цены приблизительные, бла-бла-бла...</div>
		<div class="feedback-item">
                <h4>Оставьте свой номер телефона и мы вам перезвоним!</h4>
                <form>
                    <div class="row">
                        <div class="form-group col-sm-3 col-smm-6">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Номер телефона">
                        </div>
                        <div class="form-group col-sm-5 col-smm-6">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ваше имя или комментарий">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default">Перезвоните мне</button>
                        </div>
                    </div>
                </form>
            </div>
	</div>
</div>