<div class="service-page">
	<div class="container">
		<h3>Наши услуги</h3>
		<div class="tabs-collapse">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
				<li><a href="#profile" data-toggle="tab">Profile</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="home">
					<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos non, dignissimos autem totam. Pariatur cumque delectus, praesentium facilis ipsa alias consectetur. Quod excepturi repellendus atque a nostrum ex officiis enim.</div>
					<div>Architecto cupiditate dignissimos nostrum. Nihil sunt, dolore voluptatibus, qui illo minus a consequatur vitae in, animi hic commodi nam et nulla architecto atque. Alias quae labore dolore cum, dicta tempore!</div>
					<div>Odit accusantium aperiam magni dolorem iusto quo, perspiciatis alias eos. Magni quae molestiae omnis deserunt earum unde sed dolor error ex, cum vero delectus autem, perspiciatis accusantium quo aliquid dolorem!</div>
					<div>Eius nisi sequi porro soluta culpa, rerum, unde animi, alias sint quae nesciunt similique, error ut. Atque, minus! Perferendis sapiente reprehenderit delectus pariatur praesentium ex aliquid, esse ipsam ullam quasi.</div>
					<div>Nobis eligendi facilis, explicabo, earum neque pariatur necessitatibus ut porro! Architecto dicta quis quod modi error mollitia recusandae provident eligendi quidem dolorum molestias doloribus, exercitationem, dolores ipsam dolorem laboriosam alias?</div>
				</div>
				<div class="tab-pane fade" id="profile">
					<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique dicta provident saepe omnis quasi expedita. Fugiat reiciendis ullam, labore tempora sint maxime pariatur, minus quod odit deleniti soluta necessitatibus?</div>
					<div>Maiores modi, perspiciatis nulla natus optio! Qui necessitatibus, libero quaerat eum voluptatem ut temporibus veritatis suscipit vel. Aspernatur pariatur harum, facilis tenetur, nisi totam provident rem quasi iste, et soluta?</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning" role="alert">Цены приблизительные, бла-бла-бла...</div>
	</div>
</div>