<div class="service-page">
    <div class="container">
        <h3>Наши услуги</h3>
        <div class="tabs-collapse">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab">Герметизация швов</a></li>
                <li><a href="#tab-2" data-toggle="tab">Монтаж баннеров</a></li>
                <li><a href="#tab-3" data-toggle="tab">Монтаж оснований под баннер</a></li>
                <li><a href="#tab-4" data-toggle="tab">Монтаж рекламы</a></li>
                <li><a href="#tab-5" data-toggle="tab">Монтаж металлоконструкций</a></li>
                <li><a href="#tab-6" data-toggle="tab">Монтаж водостоков</a></li>
                <li><a href="#tab-7" data-toggle="tab">Мойка окон и фасадов</a></li>
                <li><a href="#tab-8" data-toggle="tab">Очистка крыш от снега</a></li>
                <li><a href="#tab-9" data-toggle="tab">Покрасочные работы</a></li>
                <li><a href="#tab-10" data-toggle="tab">Производство металлоконструкций</a></li>
                <li><a href="#tab-11" data-toggle="tab">Ремонтные работы</a></li>
                <li><a href="#tab-12" data-toggle="tab">Спиливание деревьев</a></li>
                <li><a href="#tab-13" data-toggle="tab">Электромонтажные работы</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <div>
                        <h4>Герметизация швов панельного здания</h4>
                        <h5>Виды герметизации шва.</h5>
                        <dl>
                            <dt>Первичная герметизация. </dt>
                            <dd>Подразумевается заделка наружных швов нового панельного здания, после окончания строительства. Технологические швы заполняются вилатермом или пенополистиролом , для теплоизоляции, а затем полученная поверхность покрывается слоем мастики с целью защиты утеплителя от негативных воздействий атмосферы.</dd>
                            <dt>Герметизация без вскрытия шва.</dt>
                            <dd>Ремонт старого шва, проводится с частичной заменой утеплителей. Заново заменяется лишь герметик, который уже не обеспечивает качественную изоляцию.</dd>
                            <dt>Герметизация со вскрытием шва.</dt>
                            <dd>Вторичная герметизация, самый надёжный способ ремонта, так как шов делается заново таким, каким он должен быть. Шов полностью расшивается, обрабатывается ядом от плесени, если необходимо, заполняется пеной, утепляется вилатермом и покрывается герметиком для защиты от воды.</dd>
                            <dt>Герметизация балконов и лоджий.</dt>
                            <dd>Всвязи с негативными воздействиями окружающей среды часто требуется дополнительная гидроизоляция балконов и окон. Монтажная пена, заполняющая стыки под воздействием ультрафиолета и перепадов температур со временем перестаёт надёжно изолировать щели. Наша команда профессионально и быстро заделает проблемные места. Щели заполняются монтажной пеной, при необходимости прокладываются вилатермом и затем покрываются слоем мастики.</dd>
                        </dl>
                        
                        <!-- Вид работ Герметизация шва, вторичная без вскрытия Герметизация шва, вторичная со вскрытием Герметизация шва, первичная Герметизация отдельно взятого балкона -->
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-2">
                    <div>
                        <h4>Баннер или брэндмауэрное панно</h4>
                        <dl>
                            <dt>Баннер или брэндмауэрное панно</dt>
                            <dd>- это виниловое полотно с графическим изображением и текстовой информацией, наружная реклама, обладающая такими качествами как долговечность, относительно низкая стоимость и высокая степень эффективности.</dd>
                        </dl>
<!--
                        <div class="row">
                            <div class="col-xs-6">
                                <h5>Площадь баннера</h5>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <td>До 20 м2</td>
                                    </tr>
                                    <tr>
                                        <td>До 50 м2</td>
                                    </tr>
                                    <tr>
                                        <td>До 150 м2</td>
                                    </tr>
                                    <tr>
                                        <td>До 300 м2</td>
                                    </tr>
                                    <tr>
                                        <td>Более 300 м2</td>
                                    </tr>
                                    <tr>
                                        <td>Баннер "на трубах"</td>
                                    </tr>
                                    </tr>
                                </table>
                            </div>
                            <h5>Демонтаж баннера</h5>
                            <div class="col-xs-6">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <td>Способ крепления</td>
                                    </tr>
                                    <tr>
                                        <td>Демонтаж баннера на шнуровке</td>
                                    </tr>
                                    <tr>
                                        <td>Демонтаж баннера на дюбель-гвоздях</td>
                                    </tr>
                                    <tr>
                                        <td>Демонтаж баннера на трубах</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
-->
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-3">
                    <div>
                        <p>В зависимости от размера и расположения баннера выбирается способ крепления.</p>
                        <dl>
                            <dt>Без рамы</dt>
                            <dd>Это плакаты небольших размеров, которые крепятся к стене дюпельгвоздями или к забору кабельными хомутами.</dd>
                            <dt>На раме</dt>
                            <dd>Всё, что имеет размер больше примерно 20 м<sup>2</sup> требует более надёжного крепления, которое, кроме гарантии прочности, также обеспечивает качественное натяжение баннера. Так что, каких бы малых размеров ни был баннер крепление к раме на шнуровкке обеспечивает наиболее равномерное натяжение без морщин. Баннера же площадью порядка 300 м<sup>2</sup> лучше растягивать шпильками за трубы, вложенные в карманы баннера.</dd>
                        </dl>
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Тросовая рама</td>
                                </tr>
                                <tr>
                                    <td>Металлическая рама</td>
                                </tr>
                                <tr>
                                    <td>Монтаж баннера на дюбель-гвозди без рамы</td>
                                </tr>
                                <tr>
                                    <td>Демонтаж баннера и крепёжных элементов</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-4">
                    <h4 class="tab-header">Монтаж рекламы</h4>
                    <p>Наша организация предлагает монтаж различных видов наружной рекламы, монтаж баннеров раскрыт в предыдущих пунктах, так что здесь перечислены основные виды, не затрагивающие монтаж баннеров:</p>
                    <ul class="services-list">
                        <li>Вывески</li>
                        <li>Крышные установки</li>
                        <li>Плакаты</li>
                        <li>Панель-кронштейны</li>
                        <li>Объёмные буквы</li>
                        <li>Световые короба</li>
                        <li>Световое оформление дюралайтом или белтлайтом</li>
                    </ul>
		<!--
                    <p>Монтаж световых коробов, вывесок и панель-кронштейнов</p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Площадь рекламной конструкции</th>
                            </tr>
                            <tr>
                                <td>до 3 м<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>до 7 м<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Более 7 м</td>
                            </tr>
                            <tr>
                                <td>Демонтаж баннера и крепёжных элементов</td>
                            </tr>
                        </tbody>
                    </table>
		-->
                    <p>Разнообразие конструкций, их сложности, видов крепления, мест крпления, доступности и так далее делает невозможным создание точного прайса, но наши специалисты с радостью приедут к вам в любое удобное время, чтобы уточнить все ньюансы и определить сроки и стоимость монтажа</p>
                </div>
                <div class="tab-pane fade" id="tab-5">
                    <h4>Монтаж металлоконструкций</h4>
                    <dl>
                        <dt>Монтаж металлоконструкций</dt>
                        <dd>Монтаж металлоконструкций - неотъемлемая часть услуг промышленных альпинистов. Сюда относится не только монтаж рекламных конструкций, но и монтаж ферм, козырьков, защитно-улавливающих решёток, экранов и сеток.</dd>
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th>Вид работ</th>
                                </tr>
                                <tr>
                                    <td>Монтаж ограждения для крыши по периметру здания</td>
                                </tr>
                                <tr>
                                    <td>Монтаж сетки фасадной</td>
                                </tr>
                                <tr>
                                    <td>Монтаж козырька для кондиционера</td>
                                </tr>
                                <tr>
                                    <td>Монтаж защитно-улавливающих решёток</td>
                                </tr>
                            </tbody>
                        </table>
                    </dl>
                </div>
                <div class="tab-pane fade" id="tab-6">
                    <h4 class="tab-header">Монтаж водостоков</h4>
                    <p>Выполним монтаж водосточных труб, воронок отливов, капельников</p>
                    <p></p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Вид работы</th>
                            </tr>
                            <tr>
                                <td>Первичный монтаж водосточных труб</td>
                            </tr>
                            <tr>
                                <td>Монтаж водосточных труб на готовые крепления</td>
                            </tr>
                            <tr>
                                <td>Монтаж ухвата для системы водосточной (водостока)</td>
                            </tr>
                            <tr>
                                <td>Монтаж водосточного жёлоба(отлива)</td>
                            </tr>
                            <tr>
                                <td>Монтаж примыкания к стене/трубе для кровли(крыши)</td>
                            </tr>
                            <tr>
                                <td>Замена или установка водосточной воронки</td>
                            </tr>
                            <tr>
                                <td>Установка крышки на водосточную воронку</td>
                            </tr>
                            <tr>
                                <td>Демонтажные работы</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-7">
                    <h4 class="tab-header">Мойка окон и фасадов</h4>
                    <p>Как основоной тип мойки окон и фасадов мы используем ручную мойку методом промышленного альпинизма. Этим способом можно добраться до самых труднодоступных мест, но если для вышки не составляет труда добраться до фасада, а общая площадь велика, то целесообразней использовать мойку с помощью аппарата высокого давления. Бригада профессиональных промышленных альпинистов быстро и качественно справится с любой задачей.</p>
                    <p></p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Вид работ</th>
                            </tr>
                            <tr>
                                <td>Мойка сплошного остекления</td>
                            </tr>
                            <tr>
                                <td>Мойка труднодоступных поверхностей</td>
                            </tr>
                            <tr>
                                <td>Мойка сильнозарязненных стекол (краска, раствор)</td>
                            </tr>
                            <tr>
                                <td>Мойка керамогранита и алюкобонда с применением аппарата высокого давления</td>
                            </tr>
                            <tr>
                                <td>Мойка остекления общей площадью менее 300 м<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Мойка фасада вручную, гладкие и слабозагрязненные поверхности с применением аппарата высокого давления</td>
                            </tr>
                            <tr>
                                <td>Мойка фасада вручную, гладкие и слабозагрязненные поверхности</td>
                            </tr>
                            <tr>
                                <td>Мойка фасада с применением кислотно-щелочных средств</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-8">
                    <h4 class="tab-header">Чистка снега с крыш</h4>
                    <p>Своевременная чистка снега с крыш сохранит не только безопасность прохожих, но и целостность самой крыши.</p>
                    <p>Разовые работы</p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Вид работ</th>
                            </tr>
                            <tr>
                                <td>Удаление сосулек</td>
                            </tr>
                            <tr>
                                <td>Очистка кровли на расстояние до 2 метров от края крыши</td>
                            </tr>
                            <tr>
                                <td>Полная чистка поверхности крыши ("от конька")</td>
                            </tr>
                            <tr>
                                <td>Очистка плоских крыш</td>
                            </tr>
                            <tr>
                                <td>Очистка от льда и снега карнизов и водосточных труб ниже уровня крыши</td>
                            </tr>
                            <tr>
                                <td>Установка крышек на воронки </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Месячное обслуживание — регулярные выезды (до 5 раз в месяц)</p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Вид работ</th>
                            </tr>
                            <tr>
                                <td>"1,5 м от края"</td>
                            </tr>
                            <tr>
                                <td>"от конька"</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-9">
                    <h4 class="tab-header">Покрасочные работы</h4>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Вид работ</th>
                            </tr>
                            <tr>
                                <td>Подготовка поверхности: мойка фасадов (аппаратом высокого давления)</td>
                            </tr>
                            <tr>
                                <td>Очистка старого слоя краски</td>
                            </tr>
                            <tr>
                                <td>Однослойная покраска фасада (вручную)</td>
                            </tr>
                            <tr>
                                <td>Однослойная покраска фасада (вагнером)</td>
                            </tr>
                            <tr>
                                <td>Однослойная покраска крыши (вагнером)</td>
                            </tr>
                            <tr>
                                <td>Покраска водосточной трубы (вручную)</td>
                            </tr>
                            <tr>
                                <td>Однослойная покраска дымовых труб</td>
                            </tr>
                            <tr>
                                <td>Однослойная покраска металлоконструкций (вручную)</td>
                            </tr>
                            <tr>
                                <td>Однослойная покраска металлоконструкций (вагнером)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-10">
                    <h4 class="tab-header">Производство металлоконструкций</h4>
                    <p>Перечисление всевозможных металлических конструкций займёт приличное время, поэтому здесь представлен список основных изделий, которые мы хотим вам предложить</p>
                    <ul calss="services-list">
                        <li>Вывески</li>
                        <li>Металлические заборы, заборы из профнастила</li>
                        <li>Остановочные комплексы</li>
                        <li>Дорожные ограждения</li>
                        <li>Козырьки и навесы</li>
                        <li>Металлические лестницы</li>
                        <li>Указатели</li>
                        <li>Крышные установки</li>
                        <li>Стеллы</li>
                        <li>Решетки на окна</li>
                        <li>Лавки, скамейки</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="tab-11">
                    <h4 class="tab-header">Ремонтные работы</h4>
                    <p>В чём заключается ремонт?</p>
                    <dl calss="services-list">
                        <dt>Ремонт кровли</dt>
                        <dd>Ремонт участков покрытия, где нарушена гидроизоляция, восстановление снегозадерживающих барьеров, ендов.</dd>
                        <dt>Ремонт рекламных конструкций</dt>
                        <dd>Мойка рекламы, замена ламп, перетяжка баннеров, замена повреждённых частей.</dd>
                        <dt>Ремонт водостоков</dt>
                        <dd>Рихтовка желобов, замена повреждённых частей, ремонт стыков водосливной системы.</dd>
                    </dl>
                </div>
                <div class="tab-pane fade" id="tab-12">
                    <h4 class="tab-header">Спиливание деревьев</h4>
                    <p>Арбористика - лечение, кронирование, удаление аварийных веток</p>
			            <table class="table table-striped table-hover table-trees">
			                <tbody>
                                <tr>
                                    <th>Вид работ</th>
                                </tr>
                                <tr>
                                    <td>Валка дерева целиком</td>
                                </tr>
                                <tr>
                                    <td>Валка дерева направлено с оттяжкой</td>
                                </tr>
                                <tr>
                                    <td>Удаление дерева по частям с прямым стволом и небольшым количеством веток</td>
                                </tr>
                                <tr>
                                    <td>Удаление дерева по частям с раскидистым стволом</td>
                                </tr>
                                <tr>
                                    <td>Удаление дерева по частям с завешиванием с прямым стволом и небольшым количеством веток</td>
                                </tr>
                                <tr>
                                    <td>Удаление дерева по частям с завешиванием с раскидистым стволом</td>
                                </tr>
                                <tr>
                                    <td>Удаление сухих и опасных веток</td>
                                </tr>
                            </tbody>
                        </table>
<!--
                    <table class="table table-striped table-hover table-trees">
                        <tbody>
                            <tr>
                                <th rowspan="2">Вид работ</th>
                                <th colspan="5">Стоимость, руб</th>
                            </tr>
                            <tr class="price-column">
                                <th>до 20 см</th>
                                <th>до 40 см</th>
                                <th>до 60 см</th>
                                <th>до 80 см</th>
                                <th>свыше 80 см</th>
                            </tr>
                            <tr>
                                <td>Валка дерева целиком</td>
                                <td>От 700</td>
                                <td>От 1300</td>
                                <td>От 1800</td>
                                <td>От 2500</td>
                                <td>От 3000</td>
                            </tr>
                            <tr>
                                <td>Валка дерева направлено с оттяжкой</td>
                                <td>От 1200</td>
                                <td>От 2500</td>
                                <td>От 3500</td>
                                <td>От 4500</td>
                                <td>От 6000</td>
                            </tr>
                            <tr>
                                <td>Удаление дерева по частям с прямым стволом и небольшым количеством веток</td>
                                <td>От 1700</td>
                                <td>От 3500</td>
                                <td>От 6000</td>
                                <td>От 8000</td>
                                <td>От 9000</td>
                            </tr>
                            <tr>
                                <td>Удаление дерева по частям с раскидистым стволом</td>
                                <td>От 2000</td>
                                <td>От 4500</td>
                                <td>От 7000</td>
                                <td>От 9500</td>
                                <td>От 10000</td>
                            </tr>
                            <tr>
                                <td>Удаление дерева по частям с завешиванием с прямым стволом и небольшым количеством веток</td>
                                <td>От 2500</td>
                                <td>От 7000</td>
                                <td>От 12000</td>
                                <td>От 15000</td>
                                <td>От 20000</td>
                            </tr>
                            <tr>
                                <td>Удаление дерева по частям с завешиванием с раскидистым стволом</td>
                                <td>От 3000</td>
                                <td>От 9000</td>
                                <td>От 14000</td>
                                <td>От 18000</td>
                                <td>От 24000</td>
                            </tr>
                        </tbody>
                    </table>
-->
                </div>
                <div class="tab-pane fade" id="tab-13">
                    <h4 class="tab-header">Электромонтажные работы</h4>
                    <p>Осветительное оборудование, электромонтажные работы</p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Вид работ</th>
                            </tr>
                            <tr>
                                <td>Монтаж малого прожектора</td>
                            </tr>
                            <tr>
                                <td>Монтаж крупного прожектора</td>
                            </tr>
                            <tr>
                                <td>Монтаж прожекторной штанги до 1,5 м</td>
                            </tr>
                            <tr>
                                <td>Монтаж прожекторной штанги более 1,5 м</td>
                            </tr>
                            <tr>
                                <td>Монтаж неоновых ламп на клипсы</td>
                            </tr>
                            <tr>
                                <td>Прокладка электрического кабеля по вертикали</td>
                            </tr>
                            <tr>
                                <td>Прокладка электрического кабеля по горизонтали</td>
                            </tr>
                            <tr>
                                <td>Прокладка короба или гофрированной трубы для кабеля по вертикали</td>
                            </tr>
                            <tr>
                                <td>Прокладка короба или гофрированной трубы для кабеля по горизонтали</td>
                            </tr>
                            <tr>
                                <td>Демонтажные работы</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="alert alert-warning" role="alert">Чтобы определить точную стоимость работ мы выезжаем на место для осмотра. По городу Ярославлю и пригороду услуга бесплатная.</div>
    </div>
</div>
