.service-page{
	padding: 60px 0 20px 0;
	h3{
		color: @light-bg-text;
		margin: 0 0 40px 0;
	}

	.nav-tabs{
		width: 25%;
		float: left;
		border: none;
		// border-right: 1px solid lightgrey;
		// box-shadow: inset 1px 0 0 0 red;

		&>li{
			float: none;
		}

		&>li>a,
		&>li.active>a, 
		&>li.active>a:focus, 
		&>li.active>a:hover{
			border: none;
			padding: 5px;
			background: transparent;
			font-weight: bold;
		}
		&>li>a{
			font-weight: normal;
		}
		&>li>a:focus, 
		&>li>a:hover{
			background: transparent;
			font-weight: 600;
		}
	}
	.tab-content{
		width: 75%;
		float: left;
		border-left: 1px solid lightgrey;
		box-shadow: -1px 0 0 0 #fff;
		margin-left: -2px;
		padding: 0 10px;
	}

	.tabs-collapse{
		margin-bottom: 20px;

		&:after{
			.clearfix;
		}
	}
}